<div class="modal-header pink">
    <h4 class="modal-title text-uppercase pull-left">Order Accept</h4>
    <i class="fa fa-plus fa-2x  pull-right white-text"></i>
</div>   
<div class="modal-offer" align="center">
    <form class     = "form-signin clearfix"
          ng-repeat = "order in orders | filter : { status: filter }"
          ng-show   = "$index == index"
          ng-submit = "ok(index, order)" >

        <div class="col-md-12 top-margin-sm">
            <input placeholder = "Name of Employee" 
                   class       = "md-input" 
                   type        = "text" 
                   required    = "" 
                   ng-model    = "delivery">
        </div>
        <ul class="list-inline" align="center">
            <li>
              <a  class    = "btn btn-cancel" 
                  ng-click = "cancel()">
                  Cancel
              </a>
            </li>
            <li>
              <button class = "btn btn-submit"
                      type  = "submit" >
                      Accept
              </button>
            </li>
        </ul>
    </form>
</div>