<div class="modal-header pink">
    <h4 class="text-uppercase pull-left white-text">Decline Order ?</h4>
</div>   
<div class="" align="center">
    <form class     = "form-signin clearfix"
          ng-repeat = "orders in orders | filter : { status: filter }"
          ng-show   = "$index == index" 
          ng-submit = "ok(index, orders)" >

        <ul class="list-inline" align="center">
            <li>
                <a  class    = "btn btn-cancel" 
                    ng-click = "cancel()">
                    Cancel
                </a>
            </li>
            <li>
                <button class = "btn btn-submit"
                        type  = "submit" >
                        Accept
                </button>
            </li>
        </ul>
    </form>
</div>