<div class="container-fluid top-margin-xs" id="page-wrapper">
	<div class="order-table">
		
		<div class="order-list">
			<div class="row">
				<div class="row">
					<div class="col-md-12">
						<h5>Order Status : New</h5>
					</div>
				</div>
				<div class="row header">
					
						<div class="col-md-6 col-xs-3 lightblue"><h4 class="text-uppercase">Item</p></div>
						<div class="col-md-2 col-xs-3 lightblue"><h4 class="text-uppercase">Price</p></div>
						<div class="col-md-2 col-xs-3 lightblue"><h4 class="text-uppercase">QTY</p></div>
						<div class="col-md-2 col-xs-3 lightblue"><h4 class="text-uppercase">Total</p></div>
					
				</div>
				<div class="row">
					
						<div class="col-md-6 col-xs-12">
							<img ng-src="../../../assets/img/lumpia_rice.jpg" class="order-pic pull-left">
							<h5>Lumpiang shanghai</h5>
							<p class="text-justify">Lumpiang shanghai, pancit canton, pork siomai, chicharap, buchi</p>
						</div>
						<div class="col-md-2 col-xs-3"><p>55.55</p></div>
						<div class="col-md-2 col-xs-3"><p>2</p></div>
						<div class="col-md-2 col-xs-3"><p>110.00</p></div>
					
				</div>
				<div class="row">
					
						<div class="col-md-6 col-xs-12">
							<img ng-src="../../../assets/img/lumpia_rice.jpg" class="order-pic pull-left">
							<h5>Lumpiang shanghai</h5>
							<p>Lumpiang shanghai, pancit canton, pork siomai, chicharap, buchi</p>
						</div>
						<div class="col-md-2 col-xs-3"><p>55.55</p></div>
						<div class="col-md-2 col-xs-3"><p>2</p></div>
						<div class="col-md-2 col-xs-3"><p>110.00</p></div>
					
				</div>
				<div class="row">
					
						<div class="col-md-12 total">
							<p align="right">Grand Total : 500.00</p>
						</div>
				</div>
				<div class="row footer">
					
						<div class="col-md-2"><p>Customer</p></div>
						<div class="col-md-4 customer">
							<p>Junel Dela Cruz</p>
							<p>email@gmail.com</p>
							<p>#021255454</p>
						</div>
						<ul class="list-inline" align="center">
							<li>
								<button class="btn btn-default btn-success" ng-click="openOrder()"><i class="fa fa-check-circle"></i> Accept</button>
							</li>
							<li>
								<button class="btn btn-default btn-danger"><i class="fa fa-times"></i> Decline</button>
							</li>
						</ul>
				</div>
			</div>
		</div>

	</div>
</div>