<div class="container-fluid top-margin-sm" id="page-wrapper" >
	<div class="order-table" >
		<div class="order-list animation" 
			 ng-repeat="orders in orders | filter : { status: filter }" >
			<div class="row clearfix" >
				<p class="status pull-left" >Order Status :</p><p class="status {{ orders.status }}" >{{ orders.status }}</p>
				
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="pink text-uppercase text-white" align="center">
							<th class="col-md-6" ><span>Item</span></th>
							<th class="col-md-2" ><span>Price</span></th>
							<th class="col-md-2" ><span>QTY</span></th>
							<th class="col-md-2" ><span>Total</span></th>
						</tr>
						<tr ng-repeat="order in orders.orders">
							<td>
								<img ng-src="assets/img/lumpia_rice.jpg" class="order-pic pull-left">
								<p class="menu">{{ order.name }}</p>
								<p class="text-justify desc">{{ order.desc }}</p>
							</td>
							<td><span>P {{ order.price }}</span></td>
							<td><span>{{ order.qty }}</span></td>
							<td><span>P {{ order.total }}</span></td>
						</tr>
						<tr>
							<td colspan="4">
								<p class="total" align="right">P {{ orders.info.sum }}.00</p>
							</td>
						</tr>
					
					</table>
				</div>
				<div         class = "row order-list-footer">
					<div     class = "col-md-12 green-border" align = "left">
						<div class = "col-md-6">
							<span class="customer-name">{{ orders.info.name }}</span><br>
							<span>{{ orders.info.email }}</span><br>
							<span>#{{ orders.info.number }}</span>
						</div>
						<div class = "col-md-6 order-btn" align="right">
							<button class    = "btn lightgreen white-text" 
									ng-click = "orderAccept($index)">
									<i class = "fa fa-check-circle"></i> 
									Accept
							</button>
							<button class    = "btn darkred white-text" 
									ng-click = "orderDecline($index)">
									<i class = "fa fa-times"></i> 
									Decline
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>