<div class="modal-header pink">
    <h3 class="modal-title">New Offer</h3>
</div>   
<div class="account-wall " align="center">
    <form class="form-signin clearfix">
        <input placeholder="name" 
               class="md-input" 
               type="text" 
               required="">
        <input placeholder="Price" 
               class="md-input" 
               type="text" 
               required="">
        <input placeholder="Description" 
               class="md-input" 
               type="text" 
               required="">
        <br>
        <button class="submit btn btn-ripple  uppercase">Login</button>
    </form>
    <div class="btn-circle pink white-text">
        <i class="fa fa-picture-o "></i>
    </div>
</div>