<button class    = "show-sidebar-sm visible-xs collapse-btn navbar-toggle text-white"  
		ng-init  = "navCollapsed = true" 
    	ng-click = "navCollapsed = !navCollapsed" >
		<span>
			<i class="fa fa-2x fa-bars" ></i>
		</span>
</button>
<div class = "sidebar" role = "navigation" >
    <div ng-class = "!navCollapsed && 'in animated fadeInUp'"
    	 class    = "navbar-default 
                     sidebar-nav 
                     navbar-collapse 
                     collapse" >
        
        <ul class = "nav" 
            id    = "side-menu" 
            ng-if = "!sidebar_switch" >
            <p class="title" >Orders</p>
            <li ui-sref-active = "active" 
                ng-repeat      = "item in dashboard" >
                <a ui-sref     = "orders({ filter:item.name })" >
                   <p> {{ item.name }}</p>
                </a>
            </li>
        </ul>
        
        <ul class = "nav" 
            id    = "side-menu" 
            ng-if = "sidebar_switch">
            <p class ="title" >Offers</p>
            <li ui-sref-active = "active" 
                ng-repeat      = "item in dashboard" >
                <a ui-sref     = "offers({ filter:item.name })" >
                   <p> {{ item.name }}</p>
                </a>
            </li>
            <li>
              <a ng-controller = "offersCtrl" 
                 ng-click      = "newCategory()" 
                 class         = "text-white" >
                 <i class = "fa fa-plus fa-fw pull-left" ></i>
                 <p> Add Category</p>
              </a>
            </li>
        </ul>
    </div>
</div>