<div    class = "modal-header pink">
    <h3 class = "text-uppercase pull-left white-text">Delete Offer ?</h3>
</div>   
<div align = "center">
    <form class     = "form-signin clearfix"
          ng-repeat = "offer in offers " 
          ng-show   = "$index == index" >
        <div class  = "col-md-12">
            <ul class = "list-inline">
                <li>
            		<button class    = "btn btn-cancel" 
                            ng-click = "cancel()">
            			    Cancel
            		</button>
            	</li>
                <li>
                	<button class    = "btn btn-submit" 
                			ng-click = "ok(index)">
                		    Delete
                	</button>
                </li>
            </ul>
        </div>
    </form>
</div>