<div class="container-fluid " id="page-wrapper">
	<div class="offer-list ">
		<!-- List Header -->
		<div class="row ">
			<div class="col-md-12 ">
				<div class="text-uppercase">
					<div class="col-md-1 col-sm-0 col-xs-0" ></div>
					<div class="col-md-3 col-sm-3 col-xs-3" ><p class="title" >Name</p></div>
					<div class="col-md-4 col-sm-3 col-xs-3" ><p class="title" >Description</p></div>
					<div class="col-md-2 col-sm-3 col-xs-3" ><p class="title" >Price</p></div>
					<div class="col-md-2 col-sm-3 col-xs-3" ><p class="title" >Action</p></div>
				</div>
			</div>
		</div>
		<!-- List Body -->
		<div class      = "row animation"
			 ng-repeat  = "offer in offers | filter: { dish: filter } as results" >
			<div class="col-md-1 col-sm-3 col-xs-3" ><img class   = "order-pic" ng-src = "{{ offer.pic }}" ></div>
			<div class="col-md-3 col-sm-9 col-xs-9" ><p   ng-bind = "offer.name" ></p></div>
			<div class="col-md-4 col-sm-9 col-xs-9" ><p   class   = "desc" >{{ offer.desc }}</p></div>
			<div class="col-md-2 col-sm-3 col-xs-3" ><p   class   = "menu" >P {{ offer.price }}</p></div>
			<div class="col-md-2 col-sm-12 col-xs-12 offer-btn" >
				<ul class="list-inline" >
					<li>
						<button class    = "btn btn-primary lightblue"
								ng-click = "editOffer($index)">
								<i class = "fa fa-pencil" ></i> Edit
						</button>
					</li>
					<li>
						<button class    = "btn btn-default" 
								ng-click = "deleteOffer($index)">
								<i class = "fa fa-trash" ></i>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<!-- List Extension -->
		<div class = "row " 
			 ng-if="results.length == 0" >
			<div class = "col-md-12" >
				<p class="title text-uppercase" > :/ No Offer Found</p>
			</div>
		</div>

	</div>
	<div class="pull-right btn-fixed">
    	<button class             = "btn btn-circle lightgreen white-text" 
    			ng-click          = "newOffer()"
    			uib-tooltip       = "Add offer"
    			tooltip-placement = "left" >
	    	<i  class = "fa fa-2x fa-plus"></i>
	    </button>
    </div>
</div>