<div class="modal-header pink">
    <h4 class = "text-uppercase pull-left white-text" >edit offer</h4>
    <i  class = "fa fa-pencil fa-2x pull-right white-text" ></i>
</div>   
<div class="modal-offer top-margin-sm" >
    <form class     = "form-signin clearfix" 
          ng-repeat = "offer in offer | filter: { dish: filter_course }" 
          ng-show   = "$index == index" 
          ng-submit = "ok(offer, index, avaFrom, avaTo)" >
         
        <div class="col-md-12">
            <input  class    = "md-input" 
                    type     = "text" 
                    required = "true" 
                    ng-model = "offer.name" >
                    <label>Name</label>
        </div>
        <div class="col-md-6">
            <input  class    = "md-input" 
                    type     = "text" 
                    required = "true" 
                    ng-model = "offer.price ">
                    <label>Price</label>
        </div>
        <div class="col-md-3">
            <input  class    = "md-input"
                    type     = "time" 
                    required = "true" 
                    ng-model = "avaFrom" >
                    <label for="">Available from :</label>
        </div>
        <div class="col-md-3">
            <input  class    = "md-input"
                    type     = "time" 
                    required = "true"
                    ng-model = "avaTo" >
                    <label for="">to :</label>
        </div>
        <div class="col-md-12">
            <input class    = "md-input" 
                   type     = "text" 
                   required = "true" 
                   ng-model = "offer.desc" >
                   <label>Description</label>
        </div>
        <div class="col-md-12">
            <select class       = "md-select" 
                    ng-model    = "offer.dish" 
                    ng-required = "true" >
                <option value     = "" >
                        Choose Category
                </option>
                <option value     = "{{ item.name }}" 
                        ng-repeat = "item in dashboard" >
                        {{ item.name }}
                </option>
            </select>
        </div>
        <div class="col-md-12" align="center">

            <div    class             = "photo-container" 
                    ngf-select 
                    ng-model          = "offer.pic" 
                    name              = "file" 
                    ngf-pattern       = "'image/*'" 
                    ngf-accept        = "'image/*'" 
                    ngf-max-size      = "5MB" 
                    uib-tooltip       = "Add Picture" 
                    tooltip-placement = "left">
                    <img   class      = "portrait"
                           ngf-src    = "offer.pic"
                           ngf-resize = "{ width: 150, height: 150, quality: 0.9 }" >
                    <span  class      = "fa-stack fa-2x" 
                           ng-if      = "!offer.pic" >
                        <i class      = "fa fa-circle fa-stack-2x pink-text " ></i>
                        <i class      = "fa fa-photo fa-lg fa-stack-1x fa-inverse" ></i>
                    </span>
            </div>

        </div>
        <ul class="list-inline" align="center">
            <li>
                <a class="btn btn-cancel"
                   ng-click="cancel()">
                   Cancel
                </a>
            </li>
            <li>
                <button class="btn btn-submit" 
                        type="submit" >
                        Save
                </button>
            </li>
        </ul>
    </form>
</div>