<div class="modal-header pink">
    <h4 class="text-uppercase pull-left white-text" >Add category</h4>
    <i class="fa fa-plus fa-2x pull-right white-text" ></i>
</div>   
<div class="" align="center" >
    <form class="form-signin clearfix" >
        <div class="col-sm-12">
            <input placeholder = "Category Name" 
                   class       = "md-input" 
                   type        = "text" 
                   required    = "" 
                   ng-model    = "newcategory" >
        </div>
        <div class="col-md-12">
            <ul class="list-inline pull-right" >
                <li>
                    <button class    = "btn btn-cancel" 
                            ng-click = "cancel()" >
                            Cancel
                    </button>
                </li>
                <li>
                    <button class    = "btn btn-submit submit" 
                            ng-click = "ok(newcategory)" >
                            Submit
                    </button>
                </li>
            </ul>
        </div>
    </form>
</div>