<div class = "modal-header pink" >
    <h4 class = "text-uppercase pull-left white-text" >Add Offer</h4>
    <i  class = "fa fa-plus fa-2x pull-right white-text" ></i>
</div>   
<div class = "modal-offer" >
    <form class     = "form-signin clearfix"
          ng-submit = "ok(offer)" >

        <div class="col-md-12" align="center">
            <div    class             = "photo-container" 
                    ngf-select 
                    ng-model          = "offer.photo" 
                    name              = "file" 
                    ngf-pattern       = "'image/*'" 
                    ngf-accept        = "'image/*'" 
                    ngf-max-size      = "5MB" 
                    uib-tooltip       = "Add Picture" 
                    tooltip-placement = "left">
                    <img   class      = "portrait"
                           ngf-src    = "offer.photo"
                           ngf-resize = "{ width: 150, height: 150, quality: 0.9 }" >
                    <span  class      = "fa-stack fa-2x" 
                           ng-if      = "!offer.photo" >
                        <i class      = "fa fa-circle fa-stack-2x pink-text " ></i>
                        <i class      = "fa fa-photo fa-lg fa-stack-1x fa-inverse" ></i>
                    </span>
            </div>
        </div>

        <div class="col-md-12">
            <div uib-dropdown on-toggle="toggled(open)" >    
                <input  class    = "md-input" 
                        type     = "text" 
                        required = "true" 
                        ng-model = "category" 
                        uib-dropdown-toggle >
                        <label for="">Category</label>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby = "simple-dropdown">
                        <li ng-repeat = "item in dashboard">
                          <a ng-click = "categories(item.name)">{{ item.name }}</a>
                        </li>
                  </ul>
            </div>

        </div>

        <div class = "col-md-12">
            <input  class    = "md-input" 
                    type     = "text" 
                    required = "true" 
                    ng-model = "offer.name" >
                    <label for="">Name</label>
        </div>
        <div class="col-md-6">
            <input  class    = "md-input" 
                    type     = "number" 
                    required = "true"
                    ng-model = "offer.price" > 
                    <label for="" >Price</label>   
        </div>

        <div class="col-md-3">
            <input  class    = "md-input"
                    type     = "time" 
                    required = "true"
                    ng-model = "from" >
                    <label for="" >Available from :</label>
        </div>
        <div class="col-md-3">
            <input  class    = "md-input"
                    type     = "time" 
                    required = "true"
                    ng-model = "to" >
                    <label for="" >to :</label>
        </div>
        
        <div class="col-md-12">
            <input  class    = "md-input" 
                    type     = "textarea" 
                    required = "true" 
                    ng-model = "offer.desc" >
                    <label for="" >Description</label>
        </div>
        <div class = "col-md-12">
            <br>
            <div class = "col-md-12">
                <ul class = "list-inline" align = "center">
                    <li>
                        <a class="btn btn-cancel" 
                           ng-click="cancel()" >
                           Cancel
                        </a>
                    </li>
                    <li>
                        <button class="btn btn-submit" 
                                type="submit" >
                                Submit
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>