<input  class="md-input" 
                    type="time" 
                    required="" 
                    ng-model="offer.ava">


<div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>


            <div class="col-md-4">
            <input  class="md-input" 
                    type="number"
                    required=""
                    ng-maxlength="2"
                    ng-minlength="2"
                    maxlength="2"
                    minlength="2" 
                    ng-model="a"> 
                    <label for="">00 : 00</label>  
        </div>
        <div class="col-md-4">
            <input  class="md-input" 
                    type="number" 
                    required=""
                    ng-model="b"> 
                    <label for="">00 : 00</label>  
        </div>