<div class="login">
    <div class="jumbotron">
        <div class="container login-container uppercase" align="center">
            <p class="white-text">Administrator</p>
            <h4 class="white-text">Restaurant</h4>
            <div class="account-wall " align="center">

                <div uib-collapse="login">
                    <div class="btn-circle pink white-text">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <form class="form-signin clearfix" ng-submit="log(user)">
                        <input placeholder="Email" 
                               class="md-input" 
                               type="email" 
                               required="" 
                               ng-model="user.name" >
                        <input placeholder="Password" 
                               class="md-input" 
                               type="password" 
                               required=""
                               ng-model="user.password" >
                        <br>
                        <button class="btn btn-submit submit btn-ripple uppercase" type="submit">Login</button>
                    </form>
                </div>

                <div class="msg">
                  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
                </div>

                <div uib-collapse="forgot">
                    <form class="form-signin clearfix">
                        <input placeholder="Email" 
                               class="md-input" 
                               type="email" 
                               required="">
                        <br>
                        <button class="btn btn-submit uppercase" ng-click="">Send email</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="">
              <a href="" class="pink-text" ng-click="switch()">{{ password }}</a>
              <br>
              <a ui-sref="register" class="pink-text">Register</a>
            </div>
        </div>
    </div>
</div>
