<div class="login">
    <div class="jumbotron">
        <div class="container register-container clearfix " align="center" >
            <p class="white-text uppercase ">Register</p>
            <p class="white-text uppercase"><small>Grocery</small></p>
            <form class="form-signin clearfix" 
                  ng-submit="next(data)" >
                <div class="register-wall " 
                     align="left" >              
                    <div class="nav-group btn-group-justified" 
                         role="group" >
                        <div class="btn-group" 
                             role="group">
                            <button type     = "button" 
                                    class    = "btn tab text-uppercase md-button"
                                    ng-class = "{ 'active' : !isInfo }"
                                    ng-click = " isInfo = false; isLogo = true; isVerify = true; btn = 'Next' " >
                                    Basic Info
                            </button>
                        </div>
                        <div class="btn-group" 
                             role="group">
                            <button type     = "button" 
                                    class    = "btn tab text-uppercase md-button"
                                    ng-class = "{'active' : !isLogo}"
                                    ng-click = " isInfo = true; isLogo = false; isVerify = true; btn = 'Next' " >
                                    Add logo
                            </button>
                        </div>
                        <div class="btn-group" 
                             role="group">
                            <button type     = "button" 
                                    class    = "btn tab text-uppercase md-button"
                                    ng-class = "{'active' : !isVerify}"
                                    ng-click = " isInfo = true; isLogo = true; isVerify = false; btn = 'Creat Account' " >
                                    Verification
                            </button>
                        </div>
                    </div>
                    <br><br>
                    <div uib-collapse="isInfo" >
                        <div class="col-sm-12" >
                            <input  class    = "md-input" 
                                    type     = "text" 
                                    required = ""
                                    ng-model = "data.restName" >
                                    <label>Restaurant Name</label>
                        </div>
                        <div class="col-sm-6" >
                            <input  class    = "md-input" 
                                    type     = "text" 
                                    required = ""
                                    ng-model = "data.firstName" >
                                    <label>First Name</label>
                        </div>
                        <div class="col-sm-6" >
                            <input  class    = "md-input" 
                                    type     = "text" 
                                    required = ""
                                    ng-model = "data.lastName" >
                                    <label>Last Name</label>
                        </div>
                        <div class="col-sm-6" >
                            <input  class    = "md-input" 
                                    type     = "email" 
                                    required = ""
                                    ng-model = "data.email" >
                                    <label>Email</label>
                        </div>
                        <div class="col-sm-6" >
                            <input  class    = "md-input" 
                                    type     = "password" 
                                    required = ""
                                    ng-model = "data.password" >
                                    <label>Password</label>
                        </div>
                        <div class="col-sm-12" >
                            <input  class    = "md-input" 
                                    type     = "text" 
                                    required = ""
                                    ng-model = "data.address" >
                                    <label>Address</label>
                        </div>

                        <!-- Google MAP API -->
                        <div class="col-md-12" >
                           <ng-map center="[40.74, -74.18]" class="address-map"></ng-map>
                        </div>
                        <!-- /Google MAP API -->
                    </div>
                    <div uib-collapse = "isLogo" align = "center">
                        <div class = "col-md-12" align = "center">
                            <!-- <button class="btn btn-circle pink white-text" type="button">
                                <i class="fa fa-2x fa-picture-o"></i>
                            </button> -->
                            <div    class        = "photo-container" 
                                    ng-model     = "data.photo" 
                                    name         = "file" 
                                    ngf-pattern  = "'image/*'" 
                                    ngf-accept   = "'image/*'" 
                                    ngf-max-size = "5MB" 
                                    ngf-select >
                                    <img   class      = "portrait"
                                           required   = ""
                                           ngf-src    = "data.photo"
                                           ngf-resize = "{ width: 150, height: 150, quality: 0.9}" >

                                <span class = "fa-stack fa-2x" ng-if="!data.photo">
                                  <i  class = "fa fa-circle fa-stack-2x pink-text "></i>
                                  <i  class = "fa fa-photo fa-lg fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div uib-collapse="isVerify" align="center">
                        <div class="well well-lg">
                            <p>Verify Email</p>
                            <br>An email has been send to your email address please check for verification of your account
                        </div>
                        <a class    = "btn btn-submit" 
                           ng-click = "" >Resend Email</a>
                    </div>
                </div>    
                <br>
                <div class="col-md-12" align="center">
                    <ul class="list-inline">
                        <li>
                            <a  class    = "pink-text btn-cancel" 
                                ng-click = "back()"
                                ng-if    = "isInfo" >
                                {{ btnBack }}
                            </a>
                        </li>
                       <li>
                            <button class = "btn btn-default btn-nav btn-submit" 
                                    type  = "submit">
                                    {{ btnNext }}
                            </button>
                        </li>
                    </ul>
                    <a ui-sref="login" class="pink-text">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
