<!-- Navigation -->
<nav class = "navbar navbar-default navbar-fixed-top topbar" role="navigation" style="margin-bottom: 0">
    <div class = "navbar-header">
        <a class = "navbar-brand text-white" href="">LOGO</a>
    </div>
    <!-- /.navbar-header -->

    <ul class=" nav navbar-nav navbar-top-links 
                navbar-right 
                navbar-collapse 
                navbar-ex1-collapse top-nav 
                uppercase" >
        <li    ui-sref-active = "active" >
            <a ui-sref        = "app" >Dashboard</a>
        </li>
        <li    ui-sref-active = "active" >
            <a ui-sref        = "orders" >Orders</a>
        </li>
        <li    ui-sref-active = "active" >
            <a ui-sref        = "offers" >Offers</a>
        </li>
        <li  uib-dropdown on-toggle = "toggled(open)">
            <a href = "" id = "simple-dropdown " uib-dropdown-toggle >
                <i class = "fa fa-user fa-lg"></i>
               User
                <i class = "fa fa-caret-down"></i>
            </a>
            <ul uib-dropdown-menu class = "animated fadeIn dropdown" >
                <li>
                    <a ui-sref="profile" >
                        <i class="fa fa-user"></i>
                        Profile
                    </a>
                 </li>
                 <li class = "divider" ></li>
                <li>
                    <a ng-click = "logout()" >
                        <i class = "fa fa-power-off" ></i>
                        Logout
                    </a>
                 </li>
            </ul>
        </li>
    </ul>
</nav>
