<div class="container top-margin home clearfix" >
	<div class="row uppercase" align="center" >
		<div class="col-md-10 col-md-offset-1" >
			<div class="col-md-4 col-sm-4 col-xs-12" >
				<a href="" ui-sref="orders({ filter:'New' })">				
					<div class="card lightblue clearfix" >
						<i class="fa fa-shopping-cart fa-5x pull-left"></i>
						<div class="pull-right clearfix">
							<p><h1>100</h1>New Orders</p>
						</div>
					</div>
					<div class="panel-footer white clearfix text-lightblue">
						<p class="pull-left">View Details</p>
						<i class="fa fa-2x fa-chevron-circle-right pull-right"></i>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12" >
				<a href="" ui-sref="orders({ filter:'Delivered' })">				
					<div class="card lightgreen clearfix" >
						<i class="fa fa-paper-plane fa-5x pull-left"></i>
						<div class="pull-right clearfix">
							<p><h1>500</h1>Delivered</p>
						</div>
					</div>
					<div class="panel-footer white clearfix text-lightgreen">
						<p class="pull-left">View Details</p>
						<i class="fa fa-2x fa-chevron-circle-right pull-right"></i>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12" >
				<a href="" ui-sref="orders({ filter:'Canceled' })">				
					<div class="card darkred clearfix" >
						<i class="fa fa-times-circle fa-5x pull-left"></i>
						<div class="pull-right clearfix">
							<p><h1>30</h1>Canceled</p>
						</div>
					</div>
					<div class="panel-footer white clearfix text-darkred">
						<p class="pull-left">View Details</p>
						<i class="fa fa-2x fa-chevron-circle-right pull-right"></i>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1">
		<br />
			<div class="row">				
				<div class="col-md-7 col-xs-12 clearfix">		
					<div class="card ">
						<div class="pink panel-heading ">
							<h4 class="white-text">Sales</h4>
						</div>
						<!-- HighCharts API Sales -->
						<div class="panel-body pink-text">
							<highchart id="chart1" 
									class="span9" 
									config="salesChart">
						</highchart>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-xs-12">	
					<div class="card">
						<div class="panel-heading pink">
							<h4 class="white-text">TOP 5 Offers (last week)</h4>
						</div>
						<!-- Highcharts API - TOP 5 Offers -->
						<div class="panel-body pink-text">
							<highchart id="chart2" 
										config="offersChart">
							</highchart>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


