<div class="container">
    <div class="profile top-margin">
        <div class="col-md-9 col-md-offset-1">
            <legend class="text-uppercase">
                    <i class="fa fa-user fa-2x"></i> 
                    Profile
            </legend>
            <fieldset class="fsStyle">
                <div class="col-md-12 col-xs-12 grocery-account">
                    <div uib-collapse="isProfile">
                        <div class="col-md-12 col-xs-12 header">
                            <button class             = "fa fa-pencil fa-2x pull-right btn-icon"
                                    uib-tooltip       = "Edit Profile" 
                                    tooltip-placement = "left" 
                                    ng-click          = "isProfile = !isProfile; isEditP = !isEditP">
                            </button>
                        </div>
                        <div class = "col-md-2 col-xs-12" 
                             align = "center" >
                            <div    class        = "photo-container photo-profile" 
                                    align        = "center" 
                                    ng-model     = "account.photo" 
                                    name         = "file" 
                                    ngf-pattern  = "'image/*'" 
                                    ngf-accept   = "'image/*'" 
                                    ngf-max-size = "5MB" >
                                    <img  class      = "portrait"
                                          ngf-src    = "account.photo"
                                          ngf-resize = "{width: 150, height: 150, quality: 0.9}" >
                                    <span class      = "fa-stack fa-2x" 
                                          ng-if      = "!account.photo">
                                      <i  class      = "fa fa-circle fa-stack-2x pink-text" ></i>
                                      <i  class      = "fa fa-photo fa-lg fa-stack-1x fa-inverse" ></i>
                                    </span>
                            </div>
                        </div>
                        <br>
                        <div class = "col-md-10 col-xs-12 pull-right">
                            <div class = "col-md-2 col-xs-3">
                                <p class = "pink-text">
                                Name</p>
                            </div>
                            <div   class = "col-md-8 col-xs-8">
                                <p class = "pull-left">
                                {{ account.name }}</p>
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12 pull-right">
                            <div class="col-md-2 col-xs-3">
                                <p class="pink-text">
                                Email</p>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ account.username }}</p>
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12 pull-right">
                            <div class="col-md-2 col-xs-3">
                                <p class="pink-text">
                                Password</p>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p>**************</p>
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="col-md-2 col-xs-3">
                                <p class="pink-text">
                                Contact</p>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p>#{{ account.contact }}</p>
                            </div>
                        </div>
                    </div>

                    <div uib-collapse="isEditP">
                        <form ng-submit="accountSave(account)" >
                            <div class="col-md-12 col-xs-12 header" >
                                <button class             = "fa fa-floppy-o fa-2x pull-right btn-icon" 
                                        uib-tooltip       = "Save Profile" 
                                        tooltip-placement = "left"
                                        type              = "submit" >
                                </button>
                            </div>
                            <div class = "col-md-2 col-xs-12" 
                                 align = "center">
                                <div    class             = "photo-container photo-profile" 
                                        align             = "center" 
                                        ng-model          = "account.photo"
                                        name              = "file" 
                                        ngf-pattern       = "'image/*'" 
                                        ngf-accept        = "'image/*'" 
                                        ngf-max-size      = "5MB" 
                                        uib-tooltip       = "Add Picture" 
                                        tooltip-placement = "left" 
                                        ngf-select >
                                        <img   class      = "portrait"
                                               ngf-src    = "account.photo"
                                               ngf-resize = "{width: 150, height: 150, quality: 0.9}" >
                                        <span  class      = "fa-stack fa-2x" 
                                               ng-if      = "!account.photo">
                                          <i   class      = "fa fa-circle fa-stack-2x pink-text "></i>
                                          <i   class      = "fa fa-photo fa-lg fa-stack-1x fa-inverse"></i>
                                        </span>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-2 col-xs-3">
                                    <p class="pink-text">Name</p></div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class       = "sm-input" 
                                            type        = "text" 
                                            required    = ""
                                            placeholder = "Name" 
                                            ng-model    = "account.name">
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-2 col-xs-3">
                                    <p class="pink-text">Email</p></div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class       = "sm-input" 
                                            type        = "email" 
                                            required    = ""
                                            placeholder = "Email"
                                            ng-model    = "account.username" >
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-2 col-xs-3">
                                    <p class="pink-text">Password</p></div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class       = "sm-input" 
                                            type        = "password" 
                                            required    = ""
                                            placeholder = "Passowrd"
                                            ng-model    = "account.password" >
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12 pull-right">
                                <div class="col-md-2 col-xs-3">
                                    <p class="pink-text">Contact</p></div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class       = "sm-input" 
                                            type        = "text" 
                                            required    = ""
                                            placeholder = "Contact #"
                                            ng-model    = "account.contact" >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
            <br>
            <legend class="text-uppercase">
                    <i class="fa fa-2x fa-cutlery" ></i>
                    Market
                </legend>
            <fieldset class="fsStyle">
                <div class="grocery-profile">
                    <div uib-collapse="isSave">
                        <div class="col-md-12 col-xs-12 header" >
                            <button class             = "fa fa-pencil fa-2x pull-right btn-icon" 
                                    uib-tooltip       = "Edit Restaurant" 
                                    tooltip-placement = "left"
                                    ng-click          = "isEdit = !isEdit; isSave = !isSave"></button>
                        </div>
                        <div class = "col-md-2 col-xs-12" 
                             align = "center">
                            <div    class        = "photo-container photo-profile" 
                                    align        = "center" 
                                    ng-model     = "profile.pic"
                                    name         = "file" 
                                    ngf-pattern  = "'image/*'" 
                                    ngf-accept   = "'image/*'" 
                                    ngf-max-size = "5MB" >
                                    <img   class      = "portrait"
                                           ngf-src    = "profile.pic"
                                           ngf-resize = "{width: 150, height: 150, quality: 0.9}" >
                                    <span class  = "fa-stack fa-2x" 
                                          ng-if  = "!profile.pic" >
                                      <i  class  = "fa fa-circle fa-stack-2x pink-text" ></i>
                                      <i  class  = "fa fa-photo fa-lg fa-stack-1x fa-inverse" ></i>
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Restaurant Name</p></div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ profile.name }}</p></div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Company Email</p></div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ profile.email }}</p></div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Company Contact</p>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ profile.contact[0].local }}</p></div>
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Restaurant Type</p></div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ profile.desc }}</p></div>
                        </div>
                        <div class="col-md-10 col-xs-12 pull-right">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Company Address</p></div>
                            <div class="col-md-8 col-xs-8">
                                <textarea class="form-control" 
                                          ng-disabled="isEdit" 
                                          rows="3">{{ profile.address }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12 pull-right">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Delivery Fee</p></div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ profile.deliveryFee }} Php</p></div>
                        </div>
                        <div class="col-md-10 col-xs-12 pull-right">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Delivery Time</p></div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ profile.deliveryTime }} min</p></div>
                        </div>
                        <div class="col-md-10 col-xs-12 pull-right">
                            <div class="col-md-4 col-xs-4">
                                <p class="pink-text">Delivery Schedule</p></div>
                            <div class="col-md-8 col-xs-8">
                                <p>{{ profile.deliverySched }}</p></div>
                        </div>
                    </div>

                    <div uib-collapse="isEdit">
                        <form ng-submit="profileSave(profile)">
                            <div class="col-md-12 col-xs-12 header" >
                                <button class="fa fa-floppy-o fa-2x pull-right btn-icon" 
                                        uib-tooltip="Save Profile" 
                                        tooltip-placement="left"
                                        type="submit">
                                </button>
                            </div>
                            <div class="col-md-2 col-xs-12" align="center">
                                <div    class="photo-container photo-profile" 
                                        ngf-select 
                                        align="center" 
                                        ng-model="profile.pic"
                                        name="file" 
                                        ngf-pattern="'image/*'" 
                                        ngf-accept="'image/*'" 
                                        ngf-max-size="5MB" >
                                        <img   class="portrait"
                                               ngf-src="profile.pic"
                                               ngf-resize="{width: 150, height: 150, quality: 0.9}" >

                                        <span class="fa-stack fa-2x" ng-if="!profile.pic">
                                          <i class="fa fa-circle fa-stack-2x pink-text "></i>
                                          <i class="fa fa-photo fa-lg fa-stack-1x fa-inverse"></i>
                                        </span>
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Restaurant Name</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class="sm-input" 
                                            ng-disabled="isEdit"
                                            type="text" 
                                            required=""
                                            placeholder="{{ profile.name }}" 
                                            ng-model="profile.name">
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Company Email</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class="sm-input" 
                                            ng-disabled="isEdit"
                                            type="email" 
                                            required=""
                                            ng-model="profile.email" >
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Company Contact</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                <input  class="sm-input" 
                                            ng-disabled="isEdit"
                                            type="text" 
                                            required=""
                                            ng-model="profile.contact[0].local" >
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Restaurant Type</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class="sm-input" 
                                            ng-disabled="isEdit"
                                            type="text" 
                                            required=""
                                            ng-model="profile.desc" >
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12 pull-right">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Company Address</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <textarea class="form-control" 
                                              ng-disabled="isEdit" 
                                              rows="4">{{ profile.address }}
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12 pull-right">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Delivery Free</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class="sm-input" 
                                            ng-disabled="isEdit"
                                            type="text" 
                                            required=""
                                            ng-model="profile.deliveryFee" >
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12 pull-right">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Delivery Time</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class="sm-input" 
                                            ng-disabled="isEdit"
                                            type="text" 
                                            required=""
                                            ng-model="profile.deliveryTime" >
                                </div>
                            </div>
                            <div class="col-md-10 col-xs-12 pull-right">
                                <div class="col-md-4 col-xs-4">
                                    <p class="pink-text">Delivery Schedule</p>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <input  class="sm-input" 
                                            ng-disabled="isEdit"
                                            type="text" 
                                            required=""
                                            ng-model="profile.deliverySched" >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>    

                <div class = "col-md-12 col-xs-12 background-header">
                    <i  class = "fa fa-2x fa-info-circle pull-left pink-text" ></i>
                    <h4 class = "pink-text pull-left" >Market Background</h4>
                    <button class             = "fa fa-pencil fa-2x pull-right btn-icon" 
                            ng-class          = "{ click : isBackground }"
                            uib-tooltip       = "Edit Background" 
                            tooltip-placement = "left"
                            ng-click          = "isBackground = !isBackground" >        
                    </button>
                </div>
                <div class="col-md-12 col-xs-12">
                    <textarea class="form-control"  
                              rows="20"
                              ng-disabled="!isBackground">{{ profile.background }}
                    </textarea>
                </div>
            </fieldset>
        </div>
    </div>
</div>

